/* 
Media Breakpoints
320px
480px
600px
768px
900px
1024px
1200px 
*/

:root {
  --case-study-image-max-height: 300px;
  --case-study-image-max-height-large: 650px;
  --case-study-image-max-width: var(--global-width);
  --case-study-p-padding: 50px;
}
#case-study {
  text-align: left;
}

.case-study > .btn-group {
  padding: 0 0 15px 0;
}

.pic-tldr__wrapper {
  flex-direction: column-reverse;
}

.case-study__images, .case-study__images-large {
  text-align: center;
}
.case-study__images img {
  max-height: var(--case-study-image-max-height);
  max-width: var(--case-study-image-max-width);
}

.case-study__images-large img {
  max-height: var(--case-study-image-max-height-large);
  max-width: var(--case-study-image-max-width);
}

.case-study__hero_section {
  background-position: center center !important;
  background-size: cover !important;
}

#case-study img {
  max-width: var(--case-study-image-max-width);
  margin: 0 0 var(--case-study-p-padding) 0;
}

#case-study p, #case-study ol, #case-study ul, #case-study pre, #case-study blockquote {
  margin: 0 0 var(--case-study-p-padding) 0;
}


#case-study ol, #case-study ul {
  padding-left: 40px;
}