:root {
    --primary-color: #424254;
    --accent-color: rgb(255, 205, 139);
    --accent-color-1: rgb(224, 182, 127);
    --dark-text: #212121;
    --secondary-text: #757575;
    --light-text: #FAFAFA;
    --divider-color: #BDBDBD;
    --background-color-dark: #333333;
    --background-color: #FAFAFA;
    --background-color-1: #e7e7e7;
    --success-color: #8BC34A;
    --error-color: #FF4081;

    --background-gradient: linear-gradient(to right, rgb(38, 47, 179), rgb(53, 52, 178), rgb(69, 58, 177), rgb(84, 63, 176), rgb(99, 69, 175), rgb(114, 74, 174), rgb(130, 80, 173), rgb(145, 85, 172), rgb(160, 91, 171), rgb(175, 96, 170), rgb(191, 102, 169), rgb(206, 107, 168));
}

