:root {
    --primary-color: #424254;
    --accent-color: #FFCD8D;
    --accent-color-1: #F8A83F;
    --dark-text: #212121;
    --secondary-text: #757575;
    --light-text: #FAFAFA;
    --divider-color: #BDBDBD;
    --background-color-dark: #333333;
    --background-color: #FAFAFA;
    --background-color-1: #D6D6D6;
    --background-color-2: #505050;
}

